#forum_caption {
	font-size : 14px;
	font-weight : bold;
	padding : 5px;
	margin-bottom : 10px;
}

#forum_nav {
	width: 100%;
	
	height : 18px;
	border-bottom : 1px solid #000000;	
}

#forum_thread_message {
	color : #FF0000;
	padding : 5px;
	height : 16px;
}

#forum_entry_message {
	color : #FF0000;
	padding : 5px;
}

#forum_thread_viewing {
	
}

.forum_form_label {
	text-align : center;
	font-weight : bold;
	font-size : 13px;
}

.threads {
	background-color : #713245;
	border : 1px solid #3b1a2f;
	color : #dfd1e9;
	
	padding : 3px;
	margin-top : 1px;
	
	cursor: pointer; 
}

.threads:hover {
	background-color : #915265;
}

.forum_create_table {
	width : 100%;
	color : #dfd1e9;
	padding : 6px;
}
	.forum_create_td_left {
		width : 80px;
		vertical-align : top;
	}
	
	.forum_create_input {
		width : 200px;
		padding : 1px;
		margin-bottom : 1px;
	}

	.forum_create_textarea  {
		width : 100%;
		height : 280px;
	}
	
	.forum_create_submit {
		width : 100px;
		padding : 1px;
	}
	
		#forum_thread_tree {
			height : 26px;
			
			font-weight : bold;
			
			font-size : 16px;
		}
		
		.forum_thread_tree_link {
			margin-bottom : 5px;
			
			color : #bd7589;
			
			cursor : pointer;
		}
		
		.forum_thread_tree_link:hover {
			margin-bottom : 5px;
			
			color : #ffffff;
			
			cursor : pointer;
		}
	
	.forum_entry {
		width : 680px;
		
		margin-left : auto;
		margin-right : auto;
	}
	
		.forum_entry_left {
			width : 116px;
			
			padding : 2px;
			
			float : left;
			clear: left;
			
			background-color : #7d3549;
		}
		
		.forum_entry_right {
			float : left;
			
			width : 472px;
			
			padding : 4px;
			
			background-color : #8e3c52;

			border-bottom : 1px solid #6e1c32;
		}
		
		.forum_entry_menu {
			float : left;

			position : absolute;
			width : 80px;
			
			margin-left : 600px;
			*margin-left : 0px;
			margin-top : -1px;

			padding : 4px;
		
			border : 1px solid #6e1c32;

			background-color : #8e3c52;
		}
	
		.forum_entry_unfloat {
			clear : both;
		}
		
		.forum_entry_quote {
				background-color : #7d3549;
				padding : 4px;
				border : 1px solid #ad6579;
		}
		
	/*.forum_entry_height {
		float : left;
		
		height : 120px;
	}
	
	.forum_entry_left {
		float : left;
		
		margin : 2px;
		padding : 2px;
		
		width : 88px;
		
		background-color : #7d3549;
	}
	
	.forum_entry_left_height {
		float : left;
		
		height : 112px;
	}
	
	.forum_entry_right {
		float : left;
		
		margin : 2px;
		padding : 4px;
		
		width : 488px;
		
		background-color : #8e3c52;
	}
	
	.forum_entry_right_content {
		float : left;
	}
	
	.forum_entry_right_height {
		float : left;
		
		height : 108px;
	}*/
	
	
	
	
	
